body { 
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background-color: white;
    margin: 10px;
    padding-top: 10%;
    padding-bottom: 20px;
    color: #333;
    line-height: 1.6;
    text-align: center;
    place-content: center;
    min-height: 100vh;
} 

h1 {
    display: inline;
    font-weight: bold;
}

#madLibs {
    position: relative;
    width: max-content;
}

.lead {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 500ms ease calc(var(--typewriterSpeed) + 0.5s)
    forwards;
}

.Location {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
    color: black;
}

.Personal {
    font-family: 'Roboto Mono', monospace;

} 

#navBar {
    background-color: #333;
    color: white;
    padding: 10px;

}

.rounded-corners {
    border-radius: 10px;
}

#brand-name {
    size: 8px;
    padding-left: 10px;
}

.nav-link {
    color: white;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
    border: solid 3px #ffffff9d;
    border-radius: 10px;
}

#nav-btn:hover {
    background-color: #E4A11B;
    color: #000000;
    border: solid 3px #000000;
    
}

#logout-btn {
    color: #ffffff;
    border: solid 3px #c00d0dc9;
}

#logout-btn:hover {
    background-color: #c00d0dc9;
    color: #000000;
    border: solid 3px #000000;
}

#navbarNavDropdown {
    float: inline-end;
}

form {
    text-align: center;
    font-size: x-large;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
        font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        padding: 20px;
        color: white;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        
}

.specificInput {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

/*loading icon*/
.loading {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
  }
  .loading:before {
      content: '';
      width: 60px;
      height: 10px;
      background: #000;
      opacity: 0.25;
      position: absolute;
      top: 70px;
      left: 0;
      border-radius: 50%;
      animation: shadow 0.5s linear infinite;
    }
    .loading:after {
      content: '';
      width: 100%;
      height: 100%;
      background: #fab732;
      border: solid 5px #000000;
      animation: bxSpin 0.5s linear infinite;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4px;
    }
  @keyframes bxSpin {
    17% {
      border-bottom-right-radius: 3px;
    }
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }

  @keyframes shadow {
    0%, 100% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1);
    }
  }



.story-list {
    text-align: center;
}

.comicContainer {
    border: solid 4px black;
    background-color: #e2e2e2;
    border-radius: 10px;
    margin: 2%;
    justify-content: center;
}

#header-container {
    background-color: #fab732;
    margin: auto;
    width: 25%;
    padding: 5px;
    border: solid 4px black;
    border-radius: 10px;
    box-shadow: 4px 4px #6d6363;
}

#apiRegInfo {
    display: flex;
    margin-left: 15%;
}

@media (max-width: 480px) {
    body {
        font-size: 4px;
    }
    .form-group {
        font-size: 8px;
    }
}


@media (max-width: 720px) {
    body {
        font-size: 8px;
    }
    .form-group {
        font-size: 10px;
    }
}

@media (max-width: 980px) {
    body {
        font-size: 12px;
    }

    .form-group {
        font-size: 14px;
    }
}